<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NDTextbookExchange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>236F277D1E428FC700FCDE9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236F27911E428FC800FCDE9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236F279C1E428FC800FCDE9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
